.container {
    display: inline;
    margin: 10px;
    box-shadow: 10px;
}
.barra-progresso {
    width: 500px;
    height: 25px;
    border: 1px solid black;
}
.progresso {
    height: 100%;
    background-color: green;
}
.container {
    display: inline
}